<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Arkademy</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="logo" class="img-logo" />
          </a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/add">Tambah</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="body-content">
      <div class="container">
        <form action="/update/<%= item.id %>" method="POST">
          <div class="form-group row">
            <label for="namaProduk" class="col-sm-2 col-form-label"
              >Nama Produk</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                name="nama"
                id="namaProduk"
                value="<%= item.nama_produk %>"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="keteranganProduk" class="col-sm-2 col-form-label"
              >Keterangan</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                name="keterangan"
                id="keteranganProduk"
                value="<%= item.keterangan %>"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="hargaProduk" class="col-sm-2 col-form-label"
              >Harga</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                name="harga"
                id="hargaProduk"
                value="<%= item.harga %>"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="jumlahProduk" class="col-sm-2 col-form-label"
              >Jumlah</label
            >
            <div class="col-sm-10">
              <input
                type="number"
                class="form-control"
                name="jumlah"
                id="jumlahProduk"
                value="<%= item.jumlah %>"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Tambah</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
